[submodule "gitmodules/TuviCore"]
	path = gitmodules/TuviCore
	url = ../../Eppie-io/TuviCore.git
[submodule "gitmodules/console-toolkit"]
	path = gitmodules/console-toolkit
	url = ../../Eppie-io/console-toolkit.git
